
{% extends "portal_commons/_base.html" %}


{% load staticfiles %}

<!-- {% block extrahead %} -->
<!--     <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" /> -->
<!-- {% endblock %} -->

{% block title %}{{ title }} | {{ site_title|default:_('Development Team') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'dlmanager:index' %}"><img src="{% static 'Logo_White.png' %}" >&nbsp;{{ site_header|default:_('') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
